{{extend 'layout.html'}}

<link href="{{=URL('static', 'css/game.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{=URL('static', 'css/switch.css')}}" rel="stylesheet" type="text/css"/>
{{if 'message' in globals():}}
<h2>{{=message}}</h2>
{{pass}}





<label class="switch switch-yes-no">
    <input class="switch-input" type="checkbox"/>
    <span class="switch-label" data-on="Yes" data-off="No"></span>
    <span class="switch-handle"></span>
</label>


<head>
    <title>Pythoggle</title>
    <link rel="stylesheet" href="../../static/css/game.css">
    <script type="text/javascript" src='seedrandom.js'></script>
    <script type="text/javascript" src='words.js'></script>
    <script type="text/javascript">

        function theFunction(event) {
            var currentTarget = event.currentTarget;
            var cell = event.currentTarget.offsetParent.id;
            var letter = event.currentTarget.textContent;

//            alert(p);
        }

        function make_table(first_time) {
            var table_string = '<table id="gametable" width="100%">';
            var x, y;
            for (x = 0; x < dimension; x++)
            {
                table_string = table_string + '<tr>';
                for (y = 0; y < dimension; y++) {
                    table_string = table_string + '<td id="' + x + '_' + y + '" width="' + 250 / dimension + 'px"> </td>';
                }
                table_string = table_string + '</tr>';
            }
            table_string = table_string + '</table>';
            if (first_time) {
                document.writeln(table_string);
            } else {
                document.getElementById('board_div').innerHTML = table_string;
            }
        }

        function update_table() {
            var x, y;
            for (x = 0; x < dimension; x++)  // here? 2
            {
                for (y = 0; y < dimension; y++) {
                    var character = board[x + y * dimension].toUpperCase();
                    if (character == 'Q') character = 'Qu';
                    var location = x + '_' + y
                    document.getElementById(location).innerHTML = "<a onclick=\"theFunction(event)\">" + character + "</b>";
                }
            }
        }

        function rolldice() {
            var i, j;
            for (i = 0; i < dimension * dimension; i++) {
                j = Math.floor(Math.random() * dice.length);
                var die = dice[j];
                j = Math.floor(Math.random() * 6);
                board[i] = die.charAt(j);
            }
        }

        function new_game() {
            rolldice();
            make_table(false);
            update_table();
            var tt = document.getElementById('totaltime');
            if (tt) {
                totaltime = parseInt(tt.value) * 1000;
            }
            var sol = document.getElementById('solution');
            if (sol) sol.innerHTML = '';
            if (timeremaining > 0)
                clearTimeout(timervar);
            timeremaining = totaltime;
            timervar = setTimeout("tick()", updatefrequency);
            //set background color of gametable to light blue
            document.getElementById('gametable').style.backgroundColor = "#76D5F5";
        }

        function tick() {
            timeremaining = timeremaining - updatefrequency;
            if (timeremaining <= 0) {
                timeremaining = 0;
                document.getElementById('gametable').style.backgroundColor = "#FFAA00";
            } else {
                timervar = setTimeout('tick()', updatefrequency);
            }
            var t = Math.ceil(timeremaining / 1000);
            document.getElementById('timeremaining').innerHTML = "Remaining time: " + t;
            var w = Math.floor(bar_width * timeremaining / totaltime);
            document.getElementById('bar_remaining').width = w;
            document.getElementById('bar_elapsed').width = bar_width - w;
        }

        function transform_word(word) {
            var w = word.toUpperCase();
            return w.replace(/Q/g, 'Qu');
        }

        dimension = 4;
        bar_width = 368;

        //2 minutes = 120 * 1000 millis
        totaltime = 120 * 1000;
        timeremaining = 0;
        updatefrequency = 50;
        timervar = null;
        numsolutioncols = 4;

        dice =
                ["yqyswf",
                "xolrql",
                "jkhhwf",
                "ioeoau",
                "qbrlpr",
                "oaaeeu",
                "ggnetn",
                "eiaeao",
                "uieeoo",
                "hcthjt",
                "sztllp",
                "aaeouo",
                "scywsj",
                "ioeuee",
                "aioeea",
                "cmhkzn",
                "hgbmgn",
                "ouoaei",
                "sysyfd",
                "mlgmcp",
                "dbxvdy",
                "fnrddw",
                "vmrgzr",
                "dkxmpk",
                "bvtnts"];

        board = [];
        board.length = dimension * dimension;
    </script>
</head>
<body>
<table>
    <tr>
        <td valign="top">
            <div id="board_div">
                <script language='javascript'>
                    make_table(true);
                </script>
            </div>
            <table width=368 cellpadding=0 cellspacing=0 id="timetable">
                <tr>
                    <td id='bar_remaining' width=218 height=25></td>
                    <td id='bar_elapsed' width=150 height=25></td>
            </table>
            <div id="timeremaining" style="margin-bottom:10px; margin-top: 10px;">
                Time remaining: ...
            </div>
            <form>
                <div style="margin-bottom: 10px;">
                    <input type="button" value="New game" onclick='new_game()'>
                    Timer:
                </div>
            </form>
        </td>
        <td width=20>&nbsp;</td>
        <td width="100%" valign="top">
            <div id="solution">&nbsp;</div>
        </td>
    </tr>
</table>
</body>

